JMB_DFDL/jmb/JOBORDER.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="../IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="JOBORDER">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:initiator="UNH%GS;" dfdl:terminator="" minOccurs="0" name="UNH">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="DocumentType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="DocumentName" type="xsd:string"/>
                            						<xsd:element minOccurs="0" name="DocumentNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="CommonRefNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="MessageType" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="field2" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			<xsd:element dfdl:initiator="RPD%GS;" dfdl:terminator="" minOccurs="0" name="RPD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" maxOccurs="unbounded" minOccurs="0" name="RecipientsID" type="xsd:string"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="NPD%GS;" dfdl:terminator="" minOccurs="0" name="NPD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" maxOccurs="unbounded" minOccurs="0" name="NotifyPartyID" type="xsd:string"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="JOH%GS;" dfdl:terminator="" minOccurs="0" name="JOH">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="VIAVCN" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="CallSignVesselCode" type="xsd:string"/>
                            						<xsd:element minOccurs="0" name="IMONumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="VoyageNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="VesselName" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="PortCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="TerminalOperatorCodeDockCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="CFSCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="JobOrderNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="JobOrderDate" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="JOD%GS;" dfdl:occursCountKind="implicit" dfdl:terminator="" maxOccurs="unbounded" minOccurs="0" name="JOD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="ContainerNumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" minOccurs="0" name="ISOCodeofContainer" type="xsd:string"/>
                            						<xsd:element minOccurs="0" name="ContainerTypeClassificationCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="DateofIssueMovement" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="DateofShifting" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ScanningStatus" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="UNT%GS;" dfdl:terminator="" minOccurs="0" name="UNT">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
														<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="DocumentCreatedDateandTime" type="xsd:string"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>